*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-Header{
  padding:10px;
  border-bottom:1px solid;
  display: flex;
  justify-content: space-between;
}

.app-Footer{
  padding:15px;
  text-align: center;
  background-color: #EBEBEB;
  position: absolute;
  bottom:0;
  width:100%;
}

.bold{
  font-weight: bold;
}

.menu{
  position: fixed;
  background-color: white;
  top: 0px;
  left:0px;
  width:60%;
  height: 100%;
  z-index: 50;
  box-shadow: 1px 1px 10px lightslategrey;
  padding:3px;
}

.menuMask{
  background-color: rgba(0,0,0,0.5);
  position :fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  z-index: 50;
}

.linkMenu{
  color: blue;
  text-decoration: none;
}